body{
    background-color: antiquewhite;
    color:crimson;
    font-size: 20px;
}
h1{
    color:crimson;
}
button{
    background-color: cadetblue;
}
.first{
    height: 250px;
    width:200px;
    border: 2px solid crimson;
}